.item {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
  width: 85%;
}

@media (min-width: 860px) {
  .item {
    margin-bottom: 4rem;
    width: 35%;
  }
}

.item__title {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  text-align: center;
}

@media (min-width: 450px) {
  .item__title {
    font-size: 3rem;
  }
}

@media (min-width: 860px) {
  .item__title {
    font-size: 2rem;
  }
}

.item__image {
  height: auto;
  width: 100%;
}

.item__description {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-evenly;
  opacity: 0;
  padding: 1rem 0;
  position: absolute;
  transition: opacity 0.1ms ease, transform 0.5s 0.2s linear;
  /* transform: scale(0) translateX(20rem); */
  width: 100%;
  z-index: 2;
}

.item:hover .item__description {
  animation: 0.5s linear showUp;
  opacity: 1;
  /* transform: scale(1) translateX(0rem); */
}

@keyframes showUp {
  from {
    transform: scale(0) translateX(20rem);
  }
  to {
    transform: scale(1) translateX(0rem);
  }
}

.item__info {
  font-size: 1.3rem;
  padding: 0 1rem;
}

@media (min-width: 450px) {
  .item__info {
    font-size: 2.3rem;
  }
}

@media (min-width: 860px) {
  .item__info {
    font-size: 1.8rem;
  }
}

.item__cards {
  border: 1px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  border-top-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.item__buttons {
  display: flex;
  justify-content: space-evenly;
}

.item__button {
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  padding: 0.3rem 0;
  position: relative;
  text-align: center;
  width: 10rem;
}

@media (min-width: 1000px) {
  .item__button {
    padding: 0.5rem 0;
  }
}

.item__button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(120, 120, 120, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.item__button:hover::after,
.item__button:focus::after {
  animation: sheen 1s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
