.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  justify-content: space-between;
  width: 80%;
}

@media (min-width: 900px) {
  .item {
    flex-direction: row;
    margin-bottom: 10rem;
  }
}

.item__title {
  color: var(--text-color-gray);
  font-size: 4rem;
  padding-bottom: 1rem;
}

.item__image {
  height: auto;
  width: 100%;
}

@media (min-width: 900px) {
  .item__image {
    width: 40vw;
  }
}

.item__description {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  padding-right: 0;
}

@media (min-width: 900px) {
  .item__description {
    min-height: 80vh;
    padding-bottom: 0;
    padding-right: 5rem;
  }
}

.item__info {
  color: var(--text-color-gray);
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

@media (min-width: 450px) {
  .item__info {
    font-size: 2rem;
  }
}

@media (min-width: 1100px) {
  .item__info {
    font-size: 2.5rem;
  }
}

.item__cards {
  margin-bottom: 2rem;
}

.item__buttons {
  display: flex;
}

.item__button:first-child {
  margin-right: 5rem;
}

.item__button {
  border: 1px solid var(--text-color-gray);
  border-radius: 5px;
  color: var(--text-color-gray);
  font-size: 2rem;
  overflow: hidden;
  padding: 0.3rem 0;
  position: relative;
  text-align: center;
  width: 15rem;
}

@media (min-width: 1000px) {
  .item__button {
    padding: 1.2rem 0;
  }
}

.item__button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(120, 120, 120, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.item__button:hover::after,
.item__button:focus::after {
  animation: sheen 1s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
