.projects {
  /* background-color: #f0f0f0; */
  background-image: url('https://www.transparenttextures.com/patterns/lined-paper.png');
  min-height: calc(100vh - var(--header-size));
  min-width: 100vw;
}

.projects__group {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
