.projects {
  background-color: #fff6f6;
  /* background-image: url('./images/lined-paper.png'); */
  min-height: calc(100vh - var(--header-size));
  min-width: 100vw;
}

.projects__group {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
