.home {
  min-height: calc(100vh - var(--header-size));
  min-width: 100vw;
}

.home__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - var(--header-size));
}

.home__text {
  animation: typing 8s steps(16, end),
    blink-cursor 0.5s step-end infinite alternate;
  border-right: 0.1em solid white;
  color: white;
  font-size: 3rem;
  overflow: hidden;
  white-space: nowrap;
  width: 16ch;
}

@media (min-width: 400px) {
  .home__text {
    font-size: 4rem;
  }
}

.home__description {
  animation: 8s linear hiding;
  color: white;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 400px) {
  .home__description {
    font-size: 2.5rem;
  }
}

@keyframes hiding {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-cursor {
  50% {
    border-color: transparent;
  }
}

.main__image {
  animation: 8s linear show-image;
  border-radius: 50%;
  height: 25rem;
  margin-top: 2rem;
  width: 25rem;
}

@keyframes show-image {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  75% {
    opacity: 0;
    transform: translateY(5rem);
  }
  90% {
    opacity: 0.5;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.particles {
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
